<div class="bg-header h-screen flex items-center justify-center shadow-lg">

  <form class="bg-form h-80 w-80 flex flex-col items-center py-4 rounded-md space-y-4">
    <h1 class="text-3xl font-bold">Cadastro</h1>
    <div class="border-0 border-black px-4 py-2 space-y-4" >
      <input type="text" required class=" shadow-lg w-full rounded-md p-1" placeholder="Nome completo">
      <input type="email" required class=" shadow-lg w-full rounded-md p-1" placeholder="Email">
      <input type="password" required class=" shadow-lg w-full rounded-md p-1" placeholder="Senha">
      <input type="password" required class=" shadow-lg w-full rounded-md p-1" placeholder="Confirmar senha">
    </div>

    <div class="flex gap-8 flex-col w-full px-4">
      <button class="bg-header text-white rounded-md w-full p-1" type="submit" routerLink="/">Cadastrar</button>

    </div>
  </form>

</div>
